{% extends "layouts/base.html" %} {% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %} {% endblock stylesheets %} {% block content %}
<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Data Table KMeans</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item"><a href="#">Bootstrap Table</a></li>
              <li class="breadcrumb-item"><a href="#">Data Tables</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->

    <!-- [ Main Content ] start -->

    <!-- [ Result Raw ] -->

    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table id="data-table" class="table" style="width: 100%">
            <thead>
              <tr class="text-center">
                <th>#</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Profession</th>
                <th>Perfume</th>
              </tr>
            </thead>
            <tbody>
              {% for result in results %}
              <tr class="text-center">
                <td>{{ loop.index }}</td>
                <td>{{ result.age }}</td>
                <td>
                  <span> {{ result.gender }} </span>
                </td>
                <td>{{ result.profession_id }}</td>
                <td>{{ result.perfume_id }}</td>
              </tr>
              {% else %}
              <tr>
                <td colspan="6" class="text-center text-muted">
                  No Results records found
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- [ Result Rounded Replace With Name ] -->
    <h5>Rounded with Name</h5>
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table id="data-table" class="table" style="width: 100%">
            <thead>
              <tr class="text-center">
                <th>#</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Profession</th>
                <th>Perfume</th>
              </tr>
            </thead>
            <tbody>
              {% for result in results_rounded %}
              <tr class="text-center">
                <td>{{ loop.index }}</td>
                <td>{{ result.age }}</td>
                <td>
                  <span
                    class="badge bg-{{ 'primary' if result.gender == 0 else 'danger' }}"
                  >
                    {{ 'Female' if result.gender == 0 else 'Male' }}
                  </span>
                </td>
                <td>{{ result.profession_name }}</td>
                <td>{{ result.perfume_name }}</td>
              </tr>
              {% else %}
              <tr>
                <td colspan="6" class="text-center text-muted">
                  No Results records found
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->
  </div>
</section>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function () {
    // Initialize DataTable
    $('#data-table').DataTable();
  });
</script>

{% endblock javascripts %}
